<%- include('../partials/header') %>

<main class="saved-main">
<% savedDogs.forEach(function (d) { %>
    <div class="card p-3 saved-dog">
        <img class="card-img-top" src="<%=d.photo%>">
        <div class="card-body">
            <% console.log(d) %>
            <h5 class="card-title"><%=d.name %></h5>
            <p class="card-text"><%=d.sex %>, <%=d.age%></p>
            <a href="/show/<%=d.id%>" class="btn btn-primary">Details</a>
            <form method="POST" action="/saved/<%= d._id %>?_method=DELETE">
                <input type="submit" class="btn btn-danger" value="Delete" name="_method">
            </form>
        </div>
    </div>
<%})%>
</main>
<%- include('../partials/footer') %>
